<!DOCTYPE HTML PUBLIC>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>カーレンタルシステム</title>
<script type="text/template" id="carTemplate">
<ul>
  <li><%= carSpec %></li>
  <li><%= maxNum %></li>
  <li><%= charge %></li>
  <li><button class="reserve">予約</button>
</ul>
</script>
<script type="text/template" id="reservationTemplate">
<div>
 <form id="reservationTerm" action="#">
   <div>
     レンタル日
     <label for="startYear">年：</label><input id="startYear" type="text" value="<%= startYear %>" />
     <label for="startMonth">月：</label><input id="startMonth" type="text" value="<%= startMonth %>" />
     <label for="startDay">日：</label><input id="startDay" type="text" value="<%= startDay %>" />
   </div>
   <br />
   <div>
     返却日
     <label for="endYear">年：</label><input id="endYear" type="text" value="<%= endYear %>" />
     <label for="endMonth">月：</label><input id="endMonth" type="text" value="<%= endMonth %>"/>
     <label for="endDay">日：</label><input id="endDay" type="text" value="<%= endDay %>"/>
   </div>
   <button id="completeReservation">予約</button>
 </form>
</div>  
</script>
</head>
<body>
<h1>予約画面</h1>
<p>予約する車を指定してください。</p>
<div id="cars">
</div>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone.js"></script>
<script src="js/lib/backbone.localStorage-min.js"></script>
<script src="js/models/car.js"></script>
<script src="js/models/carCollection.js"></script>
<script src="js/models/reservation.js"></script>
<script src="js/models/reservationCollection.js"></script>
<script src="js/views/reservation.js"></script>
<script src="js/views/car.js"></script>
<script src="js/views/carCollection.js"></script>
<script src="js/app.js"></script>
</body>
</html>
